.header {
  height: 30vh;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}
.blog-posts {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.25rem;
  margin: 3rem;
}

.post-description {
  font-size: 1em;
}
