.header {
  height: 30vh;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}
.blog-posts {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem;
}
.blog-title {
  font-size: 1.7rem;
}
.post-description {
  font-size: 12px;
}
