.contact-container {
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-details {
  margin: 2em;
}
.email a {
  text-decoration: none;
}
.email a:hover {
  color: #242424;
}

.social-icons {
  margin: 2em;
  padding: 20px;
}
