h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
.header {
  height: 30vh;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.work-projects {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  line-height: 2;
}
